html {
	color: palette(primary, bodyText);
}
p,
.body-text {
	font-size:rem($base-font-size);
	line-height:em($base-font-size * 2);
	margin-bottom:em($base-font-size);
}

strong,
.strong {
	@include strong();
}

small,
.small {
	font-size: rem($base-font-size * 0.8);
}

h1, .faux-h1 { @include h1(); }
h2, .faux-h2 { @include h2(); }
h3, .faux-h3 { @include h3(); }
h4, .faux-h4 { @include h4(); }
h5, .faux-h5 { @include h5(); }
h6, .faux-h6 { @include h6(); }
