//
// Buttons
//
.btn,
.btn--secondary {

    &:hover,
    &:focus {
        border:0;
    }

}
.btn,
.btn:hover,
.btn:focus {
    @include btn();
}
.btn--secondary,
.btn--secondary:hover,
.btn--secondary:focus {
    @include btn--secondary();
}
.btn--tertiary,
.btn--tertiary:hover,
.btn--tertiary:focus {
    @include btn--tertiary();
}
.btn-row {
    @include padding-y();
}
.btn-row__btn {
    @include full-width();

    @include bp($bp-tab-l) {
        @include margin-x($spacing, 0);
        display:inline;
        width:auto;
    }

}