//
// Buttons
//
.btn,
.btn--secondary {

    &:hover,
    &:focus {
        border:0;
    }

}
.btn {
    @include btn();
}
.btn--secondary {
    @include btn--secondary();
}
.btn--tertiary {
    @include btn--tertiary();
}
.btn-row {
    @include padding-y();
}
.btn-row__btn {
    @include full-width();

    @include bp($bp-tab-p) {
        @include margin-x($spacing, 0);
        display:inline;
        width:auto;
    }

}