//
// Navigation
//
main a {
    @include animate(border-bottom);
    border-bottom:1px solid rgba($palette-body, .20);
    color:$palette-accent-secondary;
    text-decoration:none;

    &:hover,
    &:focus {
        border-bottom:1px solid $palette-accent-secondary;
        color:$palette-accent-secondary;
        text-decoration:none;
    }

}
.btn,
.btn--secondary {

    &:hover,
    &:focus {
        border:0;
    }

}
.btn,
.btn:hover,
.btn:focus {
    @include btn();
}
.btn--secondary,
.btn--secondary:hover,
.btn--secondary:focus {
    @include btn--secondary();
}
.btn--tertiary,
.btn--tertiary:hover,
.btn--tertiary:focus {
    @include btn--tertiary();
}