extends ../layout/_default.jade

block content
    each portfolio_item in portfolio
        .band
        .container
            .col-md-8
                h2= portfolio_item.title
                p= portfolio_item.text
            .col-md-4
                ul
                    each madewith_item in portfolio_item.madewith
                        li= madewith_item