button,
.btn {
	@include margin-b-sm();
	@include padding-sm();
	@include strong();
	@include transition();
	@include width-full();
	border-radius:3px;
	border:0;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-weight: 500;
	line-height: rem($base-font-size);
	text-transform: uppercase;
	vertical-align: top;

	@include bp(tab-p) {
		width:auto;
	}

	&:hover,
	&:focus {
		color:#fff;
		text-decoration: none;
	}

	&--has-icon {
		background-image: url($img-path + 'arrow-white-right.svg');
		background-position: right 10px center;
		background-repeat: no-repeat;
		background-size:rem($base-font-size * 1.4);
		padding-right:rem(45px);
	}

	&--primary {
		background-color: palette(primary, a);

		&:hover, &:focus {
			background-color: palette(primary, a-alt);
		}

		&.is-hollow {
			background-color: palette(primary, white);
			border: 1px solid palette(primary, a);
			color: palette(primary, a);
		}

	}

}
