@mixin link {
	@include transition();
	color: palette(primary, a);
	text-decoration:none;

	&:hover, &:focus {
		color: palette(primary, a);
		text-decoration: none;
	}

	// &:focus {
	// 	@include accessibleOutline();
	// }

}
