@mixin padding-xs() { padding: rem($spacing-xs); }
@mixin padding-t-xs() { padding-top: rem($spacing-xs); }
@mixin padding-r-xs() { padding-right: rem($spacing-xs); }
@mixin padding-b-xs() { padding-bottom: rem($spacing-xs); }
@mixin padding-l-xs() { padding-left: rem($spacing-xs); }
@mixin padding-x-xs() { padding-right: rem($spacing-xs); padding-left: rem($spacing-xs); }
@mixin padding-y-xs() { padding-top: rem($spacing-xs); padding-bottom: rem($spacing-xs); }

@mixin padding-sm() { padding: rem($spacing-sm); }
@mixin padding-t-sm() { padding-top: rem($spacing-sm); }
@mixin padding-r-sm() { padding-right: rem($spacing-sm); }
@mixin padding-b-sm() { padding-bottom: rem($spacing-sm); }
@mixin padding-l-sm() { padding-left: rem($spacing-sm); }
@mixin padding-x-sm() { padding-right: rem($spacing-sm); padding-left: rem($spacing-sm); }
@mixin padding-y-sm() { padding-top: rem($spacing-sm); padding-bottom: rem($spacing-sm); }

@mixin padding() { padding: rem($spacing); }
@mixin padding-t() { padding-top: rem($spacing); }
@mixin padding-r() { padding-right: rem($spacing); }
@mixin padding-b() { padding-bottom: rem($spacing); }
@mixin padding-l() { padding-left: rem($spacing); }
@mixin padding-x() { padding-right: rem($spacing); padding-left: rem($spacing); }
@mixin padding-y() { padding-top: rem($spacing); padding-bottom: rem($spacing); }

@mixin padding-lg() { padding: rem($spacing-lg); }
@mixin padding-t-lg() { padding-top: rem($spacing-lg); }
@mixin padding-r-lg() { padding-right: rem($spacing-lg); }
@mixin padding-b-lg() { padding-bottom: rem($spacing-lg); }
@mixin padding-l-lg() { padding-left: rem($spacing-lg); }
@mixin padding-x-lg() { padding-right: rem($spacing-lg); padding-left: rem($spacing-lg); }
@mixin padding-y-lg() { padding-top: rem($spacing-lg); padding-bottom: rem($spacing-lg); }

@mixin padding-xl() { padding: rem($spacing-xl); }
@mixin padding-t-xl() { padding-top: rem($spacing-xl); }
@mixin padding-r-xl() { padding-right: rem($spacing-xl); }
@mixin padding-b-xl() { padding-bottom: rem($spacing-xl); }
@mixin padding-l-xl() { padding-left: rem($spacing-xl); }
@mixin padding-x-xl() { padding-right: rem($spacing-xl); padding-left: rem($spacing-xl); }
@mixin padding-y-xl() { padding-top: rem($spacing-xl); padding-bottom: rem($spacing-xl); }
