.footer {
	@include padding();
	background: rgba(palette(primary, bodyText), .05);
	text-align: center;

	@include bp(tab-l) {
		display:flex;
		text-align: left;
	}

	&__img, &__links, &__text {
		@include padding-x();
	}

	&__img {
		@include padding-b-sm();

		@include bp(tab-l) {
			@include width-fifth();
			text-align: center;
		}

		img {
			@include width-fifth();
			border: 3px solid palette(primary, white);
			border-radius: 100%;
			box-shadow: 0 0 5px palette(primary, bodyText);
			height: auto;

			@include bp(tab-l) {
				@include width-full();
			}

		}

	}

	&__text {
		@include padding-b();

		@include bp(tab-l) {
			width: 50%;
		}
	}

	&__links {
		list-style:none;

		@include bp(tab-l) {
			width:30%;
		}
	}

	&__link {

		a {
			@include padding-y-sm();
			border-bottom: 1px dotted palette(primary, a);
			display:block;

			&:hover,
			&:focus {
				@include transition();
				background: rgba(palette(primary, a), .05);
				text-decoration: none;
			}

		}

		.fa {
			@include margin-r-sm();
			font-size: rem($base-font-size * 2);
		}

	}

}
