.footer {
	@include padding();
	background: rgba(palette(primary, bodyText), .05);
	display: flex;
	flex-wrap: wrap;

	&__img {
		@include padding-b-sm();
		@include width-full();

		@include bp(tab-l) {
		}

		img {
			border: 3px solid palette(primary, white);
			border-radius: 100%;
			box-shadow: 0 0 5px palette(primary, bodyText);
			display: inline-block;
			height: auto;
			margin: 0 auto;
			width:rem($base-font-size * 15);
		}

	}

	&__text {
		@include padding-b();

		@include bp(tab-l) {

		}
	}

	&__links {
		list-style:none;

		@include bp(tab-l) {
		}
	}

	&__link {

		a {
			@include padding-sm();
			display:block;

			&:hover,
			&:focus {
				@include transition();
				background: rgba(palette(secondary, a), .05);
				text-decoration: none;
			}

		}

		.fa {
			@include margin-r-xsm();
			font-size: rem($base-font-size * 2);
			vertical-align: middle;
		}

	}

}
