.header {
	@include transition();
	@include width-full();
	background: palette(primary, white);
	border-bottom: 1px solid transparent;
	height: $headerHeight + $spacing-sm;

	@include bp(tab-p) {
		height: $headerHeight + $spacing;
	}

	.has-js & {
		position: fixed;
		z-index:index($z-index, 'siteHeader');
	}

	// &:before {
	// 	@include padding-sm();
	// 	@include position-tr();
	// 	background: #000;
	// 	color: #fff;
	// 	content: 'Default';
	//
	// 	@include bp(tab-p) { content: 'Tablet P'; }
	// 	@include bp(tab-l) { content: 'Tablet L'; }
	// 	@include bp(desktop) { content: 'Desktop'; }
	//
	// }

	&.is-scrolled {
		border-bottom-color: lighten(palette(primary, bodyText), 80%);
		box-shadow: 0 0 5px palette(primary, bodyText);
	}

	&__wrap {
		@include padding-xsm();
		align-items: center;
		display: flex;
		flex-wrap: wrap;

		@include bp(tab-p) {
			@include padding-x-sm();
			@include padding-y-sm();
		}

	}

	&__logo {
		height:$headerHeight;
		width:auto;
	}

	&__strap {
		@include strong();
		@include uppercase();
		color: palette(primary, a);
		letter-spacing: 1px;
		margin-bottom: 0;
		margin-left: rem($base-font-size);

		span {
			@include visuallyhidden();
			color: palette(primary, bodyText);

			@include bp(tab-p) {
				@include visuallyshown();
			}

		}

		em {
			@include flourish();
			text-transform: lowercase;
		}

	}

}
