header {
	background: palette(primary, white);
	border-bottom: 1px solid #efefef;
	height: $headerHeight + $spacing;
	position: fixed;
	width: 100%;
}

.header__wrap {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.header__logo {
	height:$headerHeight;
	width:auto;
}

.header__strap {
	@include strong();
	margin-bottom: 0;
}
