body {
	// background: radial-gradient(at 50% 0%, #dedede 5%, palette(primary, white));
	background: palette(primary, white);
}

main {
	@include padding-t-sm();

	.has-js & {
		padding-top: $headerHeight + $spacing;
	}

}

.wrap {
	@include bp(tab-l) {
		@include width-full();
		margin-right: auto;
		margin-left: auto;
	}
}
