body {
	@include transition();
	background: palette(primary, white);
}

main {
	@include transition();
	@include padding-t-sm();

	.has-js & {
		padding-top: $header-height + $spacing-sm;

		@include bp(tab-p) {
			padding-top: $header-height-desktop + $spacing-sm;
		}
	}

}

.wrap {
	@include bp(tab-l) {
		@include width-full();
		margin-right: auto;
		margin-left: auto;
	}
}
