@font-face {
  font-family: 'opensans_light';
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Light-webfont.svg#opensans_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_regular';
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#opensans_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.svg#opensans_semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_bold';
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Bold-webfont.svg#opensans_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

*, fieldset {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #fff;
  color: #494e51;
  font-family: "opensans_regular", arial, helvetica, sans-serif;
  font-size: 1.4em; }

html,
body {
  height: 100%;
  min-height: 100%; }

fieldset,
img {
  border: none; }

strong,
a,
em,
pre {
  font-size: inherit; }

strong {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal; }

pre,
code {
  display: inline;
  font-family: "Courier New", Courier, monospace; }

abbr,
acronym {
  border-bottom: 1px dotted #494e51;
  cursor: help;
  font-family: inherit; }

.padding {
  padding: 16px; }

.padding-x {
  padding-right: 16px;
  padding-left: 16px; }

.padding-y {
  padding-top: 16px;
  padding-bottom: 16px; }

.padding-t {
  padding-top: 16px; }

.padding-r {
  padding-right: 16px; }

.padding-b {
  padding-bottom: 16px; }

.padding-l {
  padding-left: 16px; }

.padding-sm {
  padding: 8px; }

.padding-t-sm {
  padding-top: 8px; }

.padding-r-sm {
  padding-right: 8px; }

.padding-b-sm {
  padding-bottom: 8px; }

.padding-l-sm {
  padding-left: 8px; }

.padding-lg {
  padding: 32px; }

.padding-t-lg {
  padding-top: 32px; }

.padding-r-lg {
  padding-right: 32px; }

.padding-b-lg {
  padding-bottom: 32px; }

.padding-l-lg {
  padding-left: 32px; }

.padding-xlg {
  padding: 64px; }

.padding-t-xlg {
  padding-top: 64px; }

.padding-r-xlg {
  padding-right: 64px; }

.padding-b-xlg {
  padding-bottom: 64px; }

.padding-l-xlg {
  padding-left: 64px; }

.no-padding {
  padding: 0 !important; }

.no-padding-t {
  padding-top: 0 !important; }

.no-padding-r {
  padding-right: 0 !important; }

.no-padding-b {
  padding-bottom: 0 !important; }

.no-padding-l {
  padding-left: 0 !important; }

.margin {
  margin: 16px; }

.margin-x {
  margin-right: 16px;
  margin-left: 16px; }

.margin-y {
  margin-top: 16px;
  margin-bottom: 16px; }

.margin-t {
  margin-top: 16px; }

.margin-r {
  margin-right: 16px; }

.margin-b {
  margin-bottom: 16px; }

.margin-l {
  margin-left: 16px; }

.margin-sm {
  margin: 8px; }

.margin-t-sm {
  margin-top: 8px; }

.margin-r-sm {
  margin-right: 8px; }

.margin-b-sm {
  margin-bottom: 8px; }

.margin-l-sm {
  margin-left: 8px; }

.margin-lg {
  margin: 32px; }

.margin-t-lg {
  margin-top: 32px; }

.margin-r-lg {
  margin-right: 32px; }

.margin-b-lg {
  margin-bottom: 32px; }

.margin-l-lg {
  margin-left: 32px; }

.margin-xlg {
  margin: 64px; }

.margin-t-xlg {
  margin-top: 64px; }

.margin-r-xlg {
  margin-right: 64px; }

.margin-b-xlg {
  margin-bottom: 64px; }

.margin-l-xlg {
  margin-left: 64px; }

.no-margin {
  margin: 0 !important; }

.no-margin-t {
  margin-top: 0 !important; }

.no-margin-r {
  margin-right: 0 !important; }

.no-margin-b {
  margin-bottom: 0 !important; }

.no-margin-l {
  margin-left: 0 !important; }

.hidden {
  font-size: 0 !important;
  height: 0 !important;
  left: -999% !important;
  line-height: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 0 !important; }

.center {
  margin: 0 auto; }

.center-content {
  text-align: center; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.third-width {
  width: 33.33333%; }

.float-l {
  float: left; }

.float-r {
  float: right; }

li {
  line-height: 1.8em;
  padding-bottom: 0.6em; }

.no-bullet {
  list-style: none outside; }

.grid__wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%; }
  @media all and (min-width: 768px) {
    .grid__wrap {
      width: 768px; } }
  @media all and (min-width: 1024px) {
    .grid__wrap {
      width: 1024px; } }
  @media all and (min-width: 1280px) {
    .grid__wrap {
      width: 1280px; } }
  @media all and (min-width: 1792px) {
    .grid__wrap {
      width: 1792px; } }

.grid-example [class*=grid__span] {
  background: pink; }

[class*="grid__span"] {
  width: 100%;
  margin: 20px;
  margin-top: 0; }
  [class*="grid__span"].to-edge {
    margin-right: 0;
    margin-left: 0; }
    @media all and (min-width: 768px) {
      [class*="grid__span"].to-edge {
        margin-right: 20px;
        margin-left: 20px; } }

@media all and (min-width: 768px) {
  .grid__span--1 {
    width: 2.66667px; }

  .grid__span--2 {
    width: 45.33333px; }

  .grid__span--3 {
    width: 88px; }

  .grid__span--4 {
    width: 130.66667px; }

  .grid__span--5 {
    width: 173.33333px; }

  .grid__span--6 {
    width: 216px; }

  .grid__span--7 {
    width: 258.66667px; }

  .grid__span--8 {
    width: 301.33333px; }

  .grid__span--9 {
    width: 344px; }

  .grid__span--10 {
    width: 386.66667px; }

  .grid__span--11 {
    width: 429.33333px; }

  .grid__span--12 {
    width: 472px; }

  .grid__span--13 {
    width: 514.66667px; }

  .grid__span--14 {
    width: 557.33333px; }

  .grid__span--15 {
    width: 600px; }

  .grid__span--16 {
    width: 642.66667px; }

  .grid__span--17 {
    width: 685.33333px; }

  .grid__span--18 {
    width: 728px; }

  .grid__span--quarter {
    width: 152px; }

  .grid__span--third {
    width: 216px; }

  .grid__span--half {
    width: 344px; } }
@media all and (min-width: 1024px) {
  .grid__span--1 {
    width: 16.88889px; }

  .grid__span--2 {
    width: 73.77778px; }

  .grid__span--3 {
    width: 130.66667px; }

  .grid__span--4 {
    width: 187.55556px; }

  .grid__span--5 {
    width: 244.44444px; }

  .grid__span--6 {
    width: 301.33333px; }

  .grid__span--7 {
    width: 358.22222px; }

  .grid__span--8 {
    width: 415.11111px; }

  .grid__span--9 {
    width: 472px; }

  .grid__span--10 {
    width: 528.88889px; }

  .grid__span--11 {
    width: 585.77778px; }

  .grid__span--12 {
    width: 642.66667px; }

  .grid__span--13 {
    width: 699.55556px; }

  .grid__span--14 {
    width: 756.44444px; }

  .grid__span--15 {
    width: 813.33333px; }

  .grid__span--16 {
    width: 870.22222px; }

  .grid__span--17 {
    width: 927.11111px; }

  .grid__span--18 {
    width: 984px; }

  .grid__span--quarter {
    width: 216px; }

  .grid__span--third {
    width: 301.33333px; }

  .grid__span--half {
    width: 472px; } }
@media all and (min-width: 1280px) {
  .grid__span--1 {
    width: 31.11111px; }

  .grid__span--2 {
    width: 102.22222px; }

  .grid__span--3 {
    width: 173.33333px; }

  .grid__span--4 {
    width: 244.44444px; }

  .grid__span--5 {
    width: 315.55556px; }

  .grid__span--6 {
    width: 386.66667px; }

  .grid__span--7 {
    width: 457.77778px; }

  .grid__span--8 {
    width: 528.88889px; }

  .grid__span--9 {
    width: 600px; }

  .grid__span--10 {
    width: 671.11111px; }

  .grid__span--11 {
    width: 742.22222px; }

  .grid__span--12 {
    width: 813.33333px; }

  .grid__span--13 {
    width: 884.44444px; }

  .grid__span--14 {
    width: 955.55556px; }

  .grid__span--15 {
    width: 1026.66667px; }

  .grid__span--16 {
    width: 1097.77778px; }

  .grid__span--17 {
    width: 1168.88889px; }

  .grid__span--18 {
    width: 1240px; }

  .grid__span--quarter {
    width: 280px; }

  .grid__span--third {
    width: 386.66667px; }

  .grid__span--half {
    width: 600px; } }
@media all and (min-width: 1792px) {
  .grid__span--1 {
    width: 59.55556px; }

  .grid__span--2 {
    width: 159.11111px; }

  .grid__span--3 {
    width: 258.66667px; }

  .grid__span--4 {
    width: 358.22222px; }

  .grid__span--5 {
    width: 457.77778px; }

  .grid__span--6 {
    width: 557.33333px; }

  .grid__span--7 {
    width: 656.88889px; }

  .grid__span--8 {
    width: 756.44444px; }

  .grid__span--9 {
    width: 856px; }

  .grid__span--10 {
    width: 955.55556px; }

  .grid__span--11 {
    width: 1055.11111px; }

  .grid__span--12 {
    width: 1154.66667px; }

  .grid__span--13 {
    width: 1254.22222px; }

  .grid__span--14 {
    width: 1353.77778px; }

  .grid__span--15 {
    width: 1453.33333px; }

  .grid__span--16 {
    width: 1552.88889px; }

  .grid__span--17 {
    width: 1652.44444px; }

  .grid__span--18 {
    width: 1752px; }

  .grid__span--quarter {
    width: 408px; }

  .grid__span--third {
    width: 557.33333px; }

  .grid__span--half {
    width: 856px; } }
body {
  background: #fff; }

main {
  padding-top: 4.375em; }

.band {
  background: #ccc; }

.band--img {
  max-height: 300px;
  overflow: hidden;
  position: relative; }

.portfolio__img {
  background: #efefef;
  display: inline-block;
  width: 100%;
  height: 13.125em; }

.portfolio__content {
  padding-top: 16px;
  padding-bottom: 16px; }
  @media all and (min-width: 640px) {
    .portfolio__content {
      padding-top: 32px;
      padding-bottom: 32px; } }

.portfolio__title {
  color: #05abb6; }

.item__link {
  margin: 0 auto;
  display: block; }
  @media all and (min-width: 410px) {
    .item__link {
      margin-right: 0;
      margin-left: 0; } }

.header--global {
  width: 100%;
  background: #05abb6;
  color: #fff;
  height: 4.375em;
  position: fixed;
  will-change: transform;
  z-index: 3; }

.logo__wrap {
  left: 0;
  position: absolute;
  top: 5px; }

.logo__img {
  height: 3.375em;
  width: auto; }

.strapline__wrap {
  position: absolute;
  right: 0;
  top: 20px;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  text-align: right;
  text-transform: uppercase; }
  .strapline__wrap span {
    display: none; }
    @media all and (min-width: 410px) {
      .strapline__wrap span {
        display: inline; } }

main a {
  -webkit-transition: border-bottom 0.3s linear;
  -moz-transition: border-bottom 0.3s linear;
  -ms-transition: border-bottom 0.3s linear;
  transition: border-bottom 0.3s linear;
  border-bottom: 1px solid rgba(73, 78, 81, 0.2);
  color: #c4421e;
  text-decoration: none; }
  main a:hover, main a:focus {
    border-bottom: 1px solid #c4421e;
    color: #c4421e;
    text-decoration: none; }

.btn:hover, .btn:focus,
.btn--secondary:hover,
.btn--secondary:focus {
  border: 0; }

.btn,
.btn:hover,
.btn:focus {
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  background: #c4421e;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 75%; }
  .btn.invert,
  .btn:hover.invert,
  .btn:focus.invert {
    background: #fff;
    color: #494e51; }
  @media all and (min-width: 410px) {
    .btn,
    .btn:hover,
    .btn:focus {
      width: 75%; } }

.btn--secondary,
.btn--secondary:hover,
.btn--secondary:focus {
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -o-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  margin-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  background: #c4421e;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 75%;
  background: #443526;
  border-color: transparent;
  box-shadow: none;
  color: #fff; }
  .btn--secondary.invert,
  .btn--secondary:hover.invert,
  .btn--secondary:focus.invert {
    background: #fff;
    color: #494e51; }
  @media all and (min-width: 410px) {
    .btn--secondary,
    .btn--secondary:hover,
    .btn--secondary:focus {
      width: 75%; } }
  .btn--secondary.invert,
  .btn--secondary:hover.invert,
  .btn--secondary:focus.invert {
    border-color: #fff;
    color: #fff; }

.access-nav__item {
  display: inline;
  list-style-type: none; }

.access-nav__link, .access-nav__link:hover {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 0;
  left: -999%;
  overflow: hidden;
  padding: .3em;
  position: absolute;
  top: 0;
  text-decoration: none; }
.access-nav__link:active, .access-nav__link:focus {
  background: #05abb6;
  color: #fff;
  height: auto;
  left: 0;
  outline: none;
  padding: .5em 2em .8em 2em;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1000; }

p {
  line-height: 1.8em;
  padding-bottom: 1.6em; }
  p:last-child {
    padding-bottom: 0; }

h1, .faux-h1 {
  font-weight: normal;
  line-height: 1.4em;
  font-size: 2.4em;
  padding-bottom: 0.4em; }

h2, .faux-h2 {
  font-weight: normal;
  line-height: 1.4em;
  font-size: 2em;
  padding-bottom: 0.6em; }

h3, .faux-h3 {
  font-weight: normal;
  line-height: 1.4em;
  font-size: 1.6em;
  padding-bottom: 0.8em; }

h4, .faux-h4 {
  font-weight: normal;
  line-height: 1.4em;
  font-size: 1.4em; }

h5, .faux-h5 {
  font-weight: normal;
  line-height: 1.4em;
  font-size: 1.2em; }

h6, .faux-h6 {
  font-weight: normal;
  line-height: 1.4em;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 1em;
  padding-bottom: 0.6em; }
