@font-face {
  font-family: 'opensans_light';
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Light-webfont.svg#opensans_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_regular';
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#opensans_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.svg#opensans_semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_bold';
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Bold-webfont.svg#opensans_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
*,
fieldset {
  box-sizing: border-box;
  font-family: "opensans_regular", arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

html {
  color: #575757; }

p,
.body-text {
  font-size: 1rem;
  line-height: 1.75em;
  margin-bottom: 0.875em; }

strong,
.strong {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal; }

small,
.small {
  font-size: 0.8rem; }

h1, .faux-h1 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 2rem; }
  @media (min-width: 71.42857rem) {
    h1, .faux-h1 {
      font-size: 3rem; } }

h2, .faux-h2 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.8rem; }
  @media (min-width: 71.42857rem) {
    h2, .faux-h2 {
      font-size: 1.8rem; } }

h3, .faux-h3 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.6rem; }
  @media (min-width: 71.42857rem) {
    h3, .faux-h3 {
      font-size: 1.6rem; } }

h4, .faux-h4 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.4rem; }
  @media (min-width: 71.42857rem) {
    h4, .faux-h4 {
      font-size: 1.4rem; } }

h5, .faux-h5 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.2rem; }
  @media (min-width: 71.42857rem) {
    h5, .faux-h5 {
      font-size: 1.2rem; } }

h6, .faux-h6 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1rem; }

ul,
ol {
  margin-bottom: 2rem;
  padding-left: 1.25rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }
  ul li,
  ol li {
    line-height: 1.6rem; }

ul {
  list-style: disc; }

a,
.text-link {
  color: #e65100;
  text-decoration: none; }
  a:hover,
  .text-link:hover {
    text-decoration: underline; }
  a:focus,
  .text-link:focus {
    outline: 5px solid orange; }

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.padding {
  padding: 2rem; }

.padding-t {
  padding-top: 2rem; }

.padding-r {
  padding-right: 2rem; }

.padding-b {
  padding-bottom: 2rem; }

.padding-l {
  padding-left: 2rem; }

.padding-x {
  padding-right: 2rem;
  padding-left: 2rem; }

.padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding-xsm {
  padding: 2rem; }

.padding-t-xsm {
  padding-top: 0.5rem; }

.padding-r-xsm {
  padding-right: 0.5rem; }

.padding-b-xsm {
  padding-bottom: 0.5rem; }

.padding-l-xsm {
  padding-left: 0.5rem; }

.padding-x-xsm {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.padding-y-xsm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.padding-sm {
  padding: 1rem; }

.padding-t-sm {
  padding-top: 1rem; }

.padding-r-sm {
  padding-right: 1rem; }

.padding-b-sm {
  padding-bottom: 1rem; }

.padding-l-sm {
  padding-left: 1rem; }

.padding-x-sm {
  padding-right: 1rem;
  padding-left: 1rem; }

.padding-y-sm {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.padding-lg {
  padding: 4rem; }

.padding-t-lg {
  padding-top: 4rem; }

.padding-r-lg {
  padding-right: 4rem; }

.padding-b-lg {
  padding-bottom: 4rem; }

.padding-l-lg {
  padding-left: 4rem; }

.padding-x-lg {
  padding-right: 4rem;
  padding-left: 4rem; }

.padding-y-lg {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.padding-xlg {
  padding: 8rem; }

.padding-t-xlg {
  padding-top: 8rem; }

.padding-r-xlg {
  padding-right: 8rem; }

.padding-b-xlg {
  padding-bottom: 8rem; }

.padding-l-xlg {
  padding-left: 8rem; }

.padding-x-xlg {
  padding-right: 8rem;
  padding-left: 8rem; }

.padding-y-xlg {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.margin {
  margin: 2rem; }

.margin-t {
  margin-top: 2rem; }

.margin-r {
  margin-right: 2rem; }

.margin-b {
  margin-bottom: 2rem; }

.margin-l {
  margin-left: 2rem; }

.margin-x {
  margin-right: 2rem;
  margin-left: 2rem; }

.margin-y {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.margin-xsm {
  margin: 2rem; }

.margin-t-xsm {
  margin-top: 0.5rem; }

.margin-r-xsm {
  margin-right: 0.5rem; }

.margin-b-xsm {
  margin-bottom: 0.5rem; }

.margin-l-xsm {
  margin-left: 0.5rem; }

.margin-x-xsm {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.margin-y-xsm {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.margin-sm {
  margin: 1rem; }

.margin-t-sm {
  margin-top: 1rem; }

.margin-r-sm {
  margin-right: 1rem; }

.margin-b-sm {
  margin-bottom: 1rem; }

.margin-l-sm {
  margin-left: 1rem; }

.margin-x-sm {
  margin-right: 1rem;
  margin-left: 1rem; }

.margin-y-sm {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.margin-lg {
  margin: 4rem; }

.margin-t-lg {
  margin-top: 4rem; }

.margin-r-lg {
  margin-right: 4rem; }

.margin-b-lg {
  margin-bottom: 4rem; }

.margin-l-lg {
  margin-left: 4rem; }

.margin-x-lg {
  margin-right: 4rem;
  margin-left: 4rem; }

.margin-y-lg {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.margin-xlg {
  margin: 8rem; }

.margin-t-xlg {
  margin-top: 8rem; }

.margin-r-xlg {
  margin-right: 8rem; }

.margin-b-xlg {
  margin-bottom: 8rem; }

.margin-l-xlg {
  margin-left: 8rem; }

.margin-x-xlg {
  margin-right: 8rem;
  margin-left: 8rem; }

.margin-y-xlg {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.center-text {
  text-align: center; }

button,
.btn {
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1rem;
  transition: background-color 0.5s ease-in-out;
  text-transform: uppercase;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 42.85714rem) {
    button,
    .btn {
      width: auto; } }
  button:hover, button:focus,
  .btn:hover,
  .btn:focus {
    color: #fff;
    text-decoration: none; }
  button--has-icon,
  .btn--has-icon {
    background-image: url("_assets/imgs/arrow-white-right.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    padding-right: 3.21429rem; }
  button--primary,
  .btn--primary {
    background-color: #ff9800; }
    button--primary:hover, button--primary:focus,
    .btn--primary:hover,
    .btn--primary:focus {
      background-color: #e65100; }
    button--primary.is-hollow,
    .btn--primary.is-hollow {
      background-color: white;
      border: 1px solid #ff9800;
      color: #ff9800; }

header {
  background: white;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 5px transparent;
  height: 78px;
  position: fixed;
  transition: all .5s;
  width: 100%; }
  header.is-scrolled {
    box-shadow: 0 0 5px #575757; }

.header__wrap {
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 71.42857rem) {
    .header__wrap {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem; } }

.header__logo {
  height: 50px;
  width: auto; }

.header__strap {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-left: 1rem;
  text-transform: uppercase; }
  .header__strap span {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px; }
    @media (min-width: 71.42857rem) {
      .header__strap span {
        clip: rect(0 0 0 0);
        height: auto;
        overflow: visible;
        position: static;
        width: auto; } }
  .header__strap em {
    font-family: georgia, "times new roman", serif;
    font-style: italic;
    letter-spacing: normal;
    text-transform: lowercase; }

main {
  padding-top: 106px; }

@media (min-width: 71.42857rem) {
  .wrap {
    margin-right: auto;
    margin-left: auto;
    width: 100%; } }

.footer__wrap {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #ff9800; }
.footer__btns {
  justify-content: center; }

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 28px; }
  @media (min-width: 71.42857rem) {
    .portfolio {
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
      grid-template-columns: 1fr 1fr 1fr; } }

.item__img {
  margin-bottom: 1rem;
  height: auto;
  width: 100%; }
.item__title {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }
.item__content {
  padding-right: 2rem;
  padding-left: 2rem; }
  @media (min-width: 71.42857rem) {
    .item__content {
      padding: 0; } }

.btn-row {
  display: flex;
  flex-wrap: wrap; }
  .btn-row .btn {
    flex-grow: 1;
    margin-right: 28px;
    margin-bottom: 28px; }
    .btn-row .btn:last-of-type {
      margin-right: 0; }

/*# sourceMappingURL=main.css.map */
