@font-face {
  font-family: 'opensans_light';
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Light-webfont.svg#opensans_light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_regular';
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Regular-webfont.svg#opensans_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_semibold';
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Semibold-webfont.svg#opensans_semibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_bold';
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/open-sans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/open-sans/OpenSans-Bold-webfont.svg#opensans_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
*,
fieldset {
  box-sizing: border-box;
  font-family: "opensans_regular", arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility; }

html {
  color: #575757; }

p,
.body-text {
  font-size: 1rem;
  line-height: 1.75em;
  margin-bottom: 0.875em; }

strong,
.strong {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal; }

small,
.small {
  font-size: 0.8rem; }

h1, .faux-h1 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 2rem; }
  @media (min-width: 1024px) {
    h1, .faux-h1 {
      font-size: 3rem; } }

h2, .faux-h2 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.8rem; }
  @media (min-width: 1024px) {
    h2, .faux-h2 {
      font-size: 1.8rem; } }

h3, .faux-h3 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.6rem; }
  @media (min-width: 1024px) {
    h3, .faux-h3 {
      font-size: 1.6rem; } }

h4, .faux-h4 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.4rem; }
  @media (min-width: 1024px) {
    h4, .faux-h4 {
      font-size: 1.4rem; } }

h5, .faux-h5 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.2rem; }
  @media (min-width: 1024px) {
    h5, .faux-h5 {
      font-size: 1.2rem; } }

h6, .faux-h6 {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1rem; }

ul,
ol {
  margin: 0 0 2rem 0;
  padding-left: 1.25rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }
  ul li,
  ol li {
    line-height: 1.6rem; }

ul {
  list-style: disc; }

a,
.text-link {
  transition: all .5s ease-in-out;
  color: #eeb320;
  text-decoration: none; }
  a:hover, a:focus,
  .text-link:hover,
  .text-link:focus {
    color: #eeb320;
    text-decoration: none; }

fieldset {
  border: 0; }

legend {
  color: #575757;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 1em;
  font-size: 1.6rem; }
  @media (min-width: 1024px) {
    legend {
      font-size: 1.6rem; } }

label,
.faux-label,
.input-error-label {
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5em; }

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea,
select {
  transition: all .5s ease-in-out;
  width: 100%;
  background-color: #fff;
  border: 1px solid #a8b6d1;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 2.4375rem;
  margin: 0 0 0.5rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none; }
  @media (min-width: 768px) {
    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea,
    select {
      width: auto; } }
  [type="text"]:focus,
  [type="password"]:focus,
  [type="date"]:focus,
  [type="datetime"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="week"]:focus,
  [type="email"]:focus,
  [type="number"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="color"]:focus,
  textarea:focus,
  select:focus {
    border-color: #26478d;
    outline: none; }

select {
  background-image: url("_assets/imgs/caret-grey-down.svg");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem; }

@media (min-width: 1024px) {
  .input-row {
    display: flex;
    flex-wrap: wrap; }
    .input-row__item {
      flex-grow: 1;
      margin-right: 28px; }
      .input-row__item:last-of-type {
        margin-right: 0; } }

.input-error {
  background: rgba(255, 0, 0, 0.05);
  border-color: red; }
  .input-error-msg {
    color: red;
    display: block;
    font-weight: 400; }

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.padding {
  padding: 4rem; }

.padding-t {
  padding: 4rem 0 0 0; }

.padding-r {
  padding: 0 4rem 0 0; }

.padding-b {
  padding: 0 0 4rem 0; }

.padding-l {
  padding: 0 0 0 4rem; }

.padding-x {
  padding: 0 4rem; }

.padding-y {
  padding: 4rem 0; }

.padding-xs {
  padding: 1rem; }

.padding-t-xs {
  padding: 1rem 0 0 0; }

.padding-r-xs {
  padding: 0 1rem 0 0; }

.padding-b-xs {
  padding: 0 0 1rem 0; }

.padding-l-xs {
  padding: 0 0 0 1rem; }

.padding-x-xs {
  padding: 0 1rem; }

.padding-y-xs {
  padding: 1rem 0; }

.padding-sm {
  padding: 2rem; }

.padding-t-sm {
  padding: 2rem 0 0 0; }

.padding-r-sm {
  padding: 0 2rem 0 0; }

.padding-b-sm {
  padding: 0 0 2rem 0; }

.padding-l-sm {
  padding: 0 0 0 2rem; }

.padding-x-sm {
  padding: 0 2rem; }

.padding-y-sm {
  padding: 2rem 0; }

.padding-lg {
  padding: 8rem; }

.padding-t-lg {
  padding: 8rem 0 0 0; }

.padding-r-lg {
  padding: 0 8rem 0 0; }

.padding-b-lg {
  padding: 0 0 8rem 0; }

.padding-l-lg {
  padding: 0 0 0 8rem; }

.padding-x-lg {
  padding: 0 8rem; }

.padding-y-lg {
  padding: 8rem 0; }

.padding-xl {
  padding: 8rem; }

.padding-t-xl {
  padding: 16rem 0 0 0; }

.padding-r-xl {
  padding: 0 16rem 0 0; }

.padding-b-xl {
  padding: 0 0 16rem 0; }

.padding-l-xl {
  padding: 0 0 0 16rem; }

.padding-x-xl {
  padding: 0 16rem; }

.padding-y-xl {
  padding: 16rem 0; }

.margin {
  margin: 4rem; }

.margin-t {
  margin: 4rem 0 0 0; }

.margin-r {
  margin: 0 4rem 0 0; }

.margin-b {
  margin: 0 0 4rem 0; }

.margin-l {
  margin: 0 0 0 4rem; }

.margin-x {
  margin: 0 4rem; }

.margin-y {
  margin: 4rem 0; }

.margin-xs {
  margin: 1rem; }

.margin-t-xs {
  margin: 1rem 0 0 0; }

.margin-r-xs {
  margin: 0 1rem 0 0; }

.margin-b-xs {
  margin: 0 0 1rem 0; }

.margin-l-xs {
  margin: 0 0 0 1rem; }

.margin-x-xs {
  margin: 0 1rem; }

.margin-y-xs {
  margin: 1rem 0; }

.margin-sm {
  margin: 2rem; }

.margin-t-sm {
  margin: 2rem 0 0 0; }

.margin-r-sm {
  margin: 0 2rem 0 0; }

.margin-b-sm {
  margin: 0 0 2rem 0; }

.margin-l-sm {
  margin: 0 0 0 2rem; }

.margin-x-sm {
  margin: 0 2rem; }

.margin-y-sm {
  margin: 2rem 0; }

.margin-lg {
  margin: 8rem; }

.margin-t-lg {
  margin: 8rem 0 0 0; }

.margin-r-lg {
  margin: 0 8rem 0 0; }

.margin-b-lg {
  margin: 0 0 8rem 0; }

.margin-l-lg {
  margin: 0 0 0 8rem; }

.margin-x-lg {
  margin: 0 8rem; }

.margin-y-lg {
  margin: 8rem 0; }

.margin-xl {
  margin: 8rem; }

.margin-t-xl {
  margin: 16rem 0 0 0; }

.margin-r-xl {
  margin: 0 16rem 0 0; }

.margin-b-xl {
  margin: 0 0 16rem 0; }

.margin-l-xl {
  margin: 0 0 0 16rem; }

.margin-x-xl {
  margin: 0 16rem; }

.margin-y-xl {
  margin: 16rem 0; }

.center-text {
  text-align: center; }

.btn {
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 1rem;
  font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
  font-weight: normal;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
  width: 100%;
  background-color: #f5d37f;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1rem;
  vertical-align: top; }
  @media (min-width: 768px) {
    .btn {
      width: auto; } }
  .btn:hover, .btn:focus {
    background-color: #cb9610;
    color: #fff;
    text-decoration: none; }
  .btn--hollow {
    background-color: white;
    border: 1px solid #eeb320;
    color: #eeb320; }
  .btn--has-icon {
    background-image: url("_assets/imgs/arrow-white-right.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 1.4rem;
    padding-right: 3.21429rem; }
  .btn--secondary {
    background: #fcf4de;
    color: #eeb320; }
    .btn--secondary:hover, .btn--secondary:focus {
      background: #fbecc6;
      color: #eeb320; }

.header {
  transition: all .5s ease-in-out;
  width: 100%;
  background: #575757;
  border-bottom: 5px solid #eeb320; }
  .has-js .header {
    position: fixed;
    z-index: 1; }
  .is-scrolled .header {
    box-shadow: 0 0 5px #575757; }
  .header__wrap {
    padding: 1rem;
    transition: all .5s ease-in-out;
    align-items: center;
    display: flex;
    flex-wrap: wrap; }
  .header__logo {
    transition: all .5s ease-in-out;
    height: 40px; }
    @media (min-width: 768px) {
      .header__logo {
        height: auto; } }
  .header__strap {
    font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #eeb320;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-left: 1rem; }
    .header__strap span {
      clip: rect(0 0 0 0);
      height: 1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
      color: rgba(255, 255, 255, 0.4); }
      @media (min-width: 768px) {
        .header__strap span {
          clip: rect(0 0 0 0);
          height: auto;
          overflow: visible;
          position: static;
          width: auto; } }
    .header__strap em {
      font-family: georgia, "times new roman", serif;
      font-style: italic;
      letter-spacing: normal;
      text-transform: lowercase; }

body {
  transition: all .5s ease-in-out;
  background: white; }

main {
  transition: all .5s ease-in-out;
  padding: 2rem 0 0 0; }
  .has-js main {
    padding-top: 97px; }
    @media (min-width: 768px) {
      .has-js main {
        padding-top: 115px; } }

@media (min-width: 1024px) {
  .wrap {
    width: 100%;
    margin-right: auto;
    margin-left: auto; } }

.about {
  padding: 4rem;
  background: rgba(87, 87, 87, 0.05);
  display: flex;
  flex-wrap: wrap; }
  .about__img {
    padding: 0 0 2rem 0;
    width: 100%; }
    .about__img img {
      border: 3px solid white;
      border-radius: 100%;
      box-shadow: 0 0 5px #575757;
      display: inline-block;
      height: auto;
      margin: 0 auto;
      width: 15rem; }
  .about__text {
    padding: 0 0 4rem 0; }
  .about__links {
    list-style: none; }
  .about__link a {
    padding: 2rem;
    display: block; }
    .about__link a:hover, .about__link a:focus {
      transition: all .5s ease-in-out;
      background: rgba(238, 179, 32, 0.05);
      text-decoration: none; }
  .about__link .fa {
    margin: 0 1rem 0 0;
    font-size: 2rem;
    vertical-align: middle; }

.portfolio {
  display: flex;
  flex-wrap: wrap; }

.item {
  padding: 0 0 4rem 0; }
  @media (min-width: 768px) {
    .item {
      width: 50%; } }
  @media (min-width: 1024px) {
    .item {
      width: 33.33333%; } }
  .item__info {
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid rgba(87, 87, 87, 0.1);
    border-bottom: 1px solid rgba(87, 87, 87, 0.1); }
  @media (min-width: 768px) {
    .item__img {
      padding: 0 2rem; } }
  .item__img img {
    margin: 0 0 1rem 0;
    width: 100%;
    height: auto;
    opacity: 0.5; }
  .item__title {
    color: #575757;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0; }
    @media (min-width: 1024px) {
      .item__title {
        font-size: 1.2rem; } }
  .item__title-link {
    font-family: "opensans_semibold", "opensans_regular", arial, helvetica, sans-serif;
    font-weight: normal; }
  .item__content {
    padding: 0 1rem; }
  .item__made-with {
    list-style: none;
    margin: 0;
    padding: 0; }
    .item__made-with li {
      font-size: 0.85rem;
      color: #b0b0b0;
      display: inline; }
      .item__made-with li:after {
        content: ','; }
      .item__made-with li:last-of-type:after {
        content: ''; }
  .item__links {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: space-between; }
    .item__links a {
      margin: 0 2rem 0 0;
      display: inline-block;
      width: 50%; }

.btn-row {
  display: flex;
  flex-wrap: wrap; }
  .btn-row .btn {
    flex-grow: 1;
    margin-right: 56px;
    margin-bottom: 56px; }
    .btn-row .btn:last-of-type {
      margin-right: 0; }

/*# sourceMappingURL=main.css.map */
