// ------------------------------------------------------------------------------------------------------------------------//
// MEDIA QUERIES
// ------------------------------------------------------------------------------------------------------------------------//

$breakpoints: (
	tab-p: 600px,
	tab-l: 1000px,
	desktop: 1200px
);
