.about {
	@include padding-y();
	@include padding-x-xs();
	background: rgba(palette(primary, bodyText), .05);
	display: flex;
	flex-wrap: wrap;

	@include bp(tab-l) {
		@include padding-x-sm();
	    flex-wrap: nowrap;
	}

	&__img {
		@include center-text();
		@include padding-b-sm();
		@include width-full();

		@include bp(tab-l) {
			padding-bottom: 0;
			width: 25%;
		}

		img {
			border: 3px solid palette(primary, white);
			border-radius: 100%;
			box-shadow: 0 0 5px palette(primary, bodyText);
			display: inline-block;
			height: auto;
			margin: 0 auto;
			width:rem($base-font-size * 10);

			@include bp(tab-l) {
			    width:rem($base-font-size * 15);
			}

		}

	}

	&__text {
		@include padding-b-sm();

		@include bp(tab-l) {
			padding-bottom: 0;
			text-align: left;
			width: 50%;
		}

	}

	&__links {
		@include width-full();
		list-style:none;
		margin: 0;
		padding:0;

		@include bp(tab-p) {
			display: flex;
			justify-content: space-between;
		}

	}

	&__link {
		@include margin-b-sm();
		
		@include bp(tab-l) {
			display: inline-block;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			display: block;
		}

		.fa {
			@include margin-r-xs();
			font-size: rem($base-font-size * 2);
			vertical-align: middle;
		}

	}

}
