.portfolio {
	display: flex;
	flex-wrap:wrap;
}

.item {
	@include padding-b();
	flex-grow: 1;

	@include bp(tab-l) {
		@include width-third();
	}

	&__img {

		@include bp(tab-p) {
			@include padding-x();
			@include width-third();
		}

		img {
			@include margin-b-sm();
			height:auto;
			@include width-full();
		}

	}

	&__title {
		@include strong();
		text-transform: uppercase;
	}

	&__content {
		@include padding-x();
	}

}
