.portfolio {
	display: flex;
	flex-wrap:wrap;
}

.item {
	@include padding-b();

	@include bp(tab-p) {
		@include width-half();
	}

	@include bp(tab-l) {
		@include width-third();
	}

	&__img {

		@include bp(tab-p) {
			@include padding-x-sm();
		}

		img {
			@include margin-b-sm();
			@include width-full();
			height:auto;
		}

	}

	&__title {
		@include margin-b-xsm();
		@include strong();
		@include uppercase();
	}

	&__content {
		@include padding-x-sm();
	}

	&__links {
		@include margin-b-xsm();

		a {
			@include padding-y-xsm();
			@include strong();
			border-bottom: 1px dotted rgba(palette(primary, bodyText), .25);
			display: block;
		}

		[class*="fa"] {
			margin-right: 3px;
		}

	}

}
