.item {

	@include bp(5) {
		@include margin-b();
		display:flex;
	}

	&__content {
		@include padding();

		@include bp(5) {
			@include padding-x();
		}
	}

	&__img {
		height:auto;
		width:100%;

		@include bp(5) {
			height: 100%;
			width: auto;
		}
	}

	&__links {
		@include padding-b();
		display: flex;
		justify-content: center;

		@include bp(5) {
			justify-content: flex-start;
		}

	}

	&__link {
		flex-grow: 1;
		margin-right: $spacing;

		@include bp(5) {
			flex-grow: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

	}

	p:last-child {
		margin-bottom: 0;
	}

}
