// Typography
$base-font-size: 16px;
$base-font-family: 'Roboto', 'Arial', sans-serif;
$base-font-weight: 400;

// Spacing
$spacing: $base-font-size;

// Paths
$img-path: '_assets/imgs/';
$font-path: '_assets/fonts/';
