//
// Global footer
//
.footer--global {
    @include padding-y($spacing-xlg);
    background:rgba($palette-accent-secondary, .05);
    border-bottom:$spacing solid $palette-accent-secondary;
}
.self-img {
    @include margin-b();
    border:5px solid #fff;
    box-shadow:0 0 $spacing-sm rgba($palette-body, .25);
}