//
// Global header
//
.header--global {
    background:$palette-accent-primary;
    color:#fff;
    height:$global-header-height;
    position:relative;
}
.site-logo {
    @include position-tl(10px, 0);
}
.strapline {
    @include position-tr(25px, 0);
    @include strong();
    text-transform:uppercase;

    span {
        display:none;

        @include bp($bp-1) {
            display:inline;
        }

    }
}