//
// Portfolio
//
.portfolio__img {
    background:#efefef;
    display:inline-block;
    width:100%;
    height:$global-header-height * 3;
}
.portfolio__content {
    @include padding-y($spacing);

    @include bp($bp-2) {
        @include padding-y($spacing-xlg);
    }

}
.portfolio__title {
    color:$palette-accent-primary;
}