- var globalTitleFragment = ' | Site name'

doctype
html(lang="en")
  head
    include ../partials/meta.jade
    title #{pageTitle} #{globalTitleFragment}
    include ../partials/css-files.jade
  body
    include ../partials/header--global.jade
    
    block content

    include ../partials/footer--global.jade